/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyd
*.py.class
*.egg-info/
*.egg
*.log
.venv/
venv/
env/
ENV/
.env/
env.bak/
venv.bak/
.vscode/